# rime
phrase.json
wubi86_jidian_user.dict.yaml
clipboard.json
cloud.dict.yaml
github-files
script/api.json
script/key.lua
data/chinese-poetry/
data/chinese-poetry-simplified/
data/chinese-gushiwen/



